body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#titulo {
  color: aliceblue;
  text-align: center;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: green;
  width: 1400px;
  border: 20px;
  margin: 1px;
  padding: 3px;
}

#minha_foto {
  margin-top: 100px;
}

ol p {
  font-weight: 800;
}

ul p {
  font-weight: 800;
}

.lado-esquerdo {
  line-height: 20px;
  text-align: justify;
  width: 45%;
  display: inline-block;
}

.lado-direito {
  line-height: 20px;
  text-align: justify;
  width: 45%;
  display: inline-block;
}

.espaçamento-central {
  width: 9%;
  display: inline-block;
}

#licoes_aprendidas {
  display: inline-block;
  width: 200px;
}

#licoes_a_aprender {
  display: inline-block;
  width: 200px;
}

#rodape {
  background-color: green;
  height: 60px;
  text-align: center;
}

#rodape p {
  font-style: italic;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
}
