body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#titulo {
  color: aliceblue;
  text-align: center
}

#cabecalho {
  top:0;
  position:fixed;
  background-color: #30a14e;
  width:1400px;
  border: 20px;
  margin: 1px;
  padding: 3px;
}

.lado-esquerdo {
  line-height: 20px;
  text-align: justify;
  width: 500px;
  float: left;
}

.lado-direito {
  line-height: 20px;
  text-align: justify;
  width: 500px;
  float: right;
}

#licoes_aprendidas {
  width: 500px;
}

#rodape {
  font-style: italic;
}
