body {
    background-color: rgb(253, 251, 251);

    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 15px;
}
#titulo {
    color: aliceblue
}
#cabecalho {
    background-color: #30a14e;

    text-align: center;

    padding: 15px;

    top: 0;

    border: 20px;

    margin: 1px;
}
article {
    line-height: 20px;

    text-align: justify;

    width: 600px;
}
aside {
    line-height: 20px;

    text-align: justify;

    width: 600px;
}
#rodape {
    font-style: italic;
}